
<section class="education">

  <h2>Education</h2>

  <ul>

    {{#each institution in education }}
      <li class="institution">

        <h3>{{ institution.name }}</h3>

        <p class="split">
          <span class="degree">{{ institution.degree }}</span>
          <time class="graduated" {{ bind-attr datetime=institution.grad-date }}>{{ format-date institution.grad-date "MMMM GGGG" }}</time>
        </p>

        {{#if institution.honors }}
          <h5>Honors</h5>
          <ul class="honors">
            {{#each honor in institution.honors }}
              <li class="item">{{ honor }}</li>
            {{/each}}
          </ul>
        {{/if}}

        {{#if institution.honors-grades}}
          <h5>Honors Grades</h5>
          <ul class="grades">
            {{#each course in institution.honors-grades}}
              <li class="item">{{ course }}</li>
            {{/each}}
          </ul>
        {{/if}}

      </li>
    {{/each}}

  </ul>

</section>
