<section class="contact-info grid-phi">
  <h1 class="name c-short">{{contact.first-name}}&nbsp;{{contact.last-name}}</h1>
  <ul class="methods c-wide">
    {{#with contact.address as address}}
    <li class="address">
      <h4>
        <span class="street">{{address.street}}</span>
        <span class="city">{{address.city}}</span>
        <span class="state">{{address.state}}</span>
        <span class="zip">{{address.zip}}</span>
      </h4>
    </li>
    {{/with}}
    <li class="phone">
      <a href="tel:{{unbound contact.phone}}">{{contact.phone}}</a>
    </li>
    <li class="email">
      <a href="mailto:{{unbound contact.email}}">{{contact.email}}</a>
    </li>
    <li class="github">
      <a href="https://github.com/{{unbound contact.github}}">{{unbound contact.github}}</a>
    </li>
    <li class="linked-in">
      <a href="https://www.linkedin.com/in/{{unbound contact.linked-in}}">{{unbound contact.linked-in}}</a>
    </li>
  </ul>
</section>
