<section class="experience">
  <h2>Experience</h2>
  <ul class="jobs">
    {{#each job in experience}}
    <li class="job">
      <h3 class="title">{{job.title}}</h3>
      <h4 class="employer">{{job.company}}</h4>
      <p class="dates">
        <span class="start">{{job.start-date}}</span> to <span class="end">{{job.end-date}}</span>
      </p>
      {{#with job.location as location}}
      <p class="location">
        <span class="city">{{location.city}}</span>, <span class="state">{{location.state}}</span>
      </p>
      {{/with}}
      {{#if job.accomplishments}}
      <h5>Accomplishments:</h5>
      <ul class="accomplishments">
      {{#each accomplishment in job.accomplishments}}
        <li class="item">{{accomplishment}}</li>
      {{/each}}
      </ul>
      {{/if}}
      {{#if job.duties}}
      <h5>Duties:</h5>
      <ul class="duties">
      {{#each duty in job.duties}}
        <li class="item">{{duty}}</li>
      {{/each}}
      </ul>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</section>
